<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/styles.css'> 
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header>
      <nav>
        <ul>
	  <% if @access_token != '' %>
	    <li><img src='<%= @avatar_url %>' alt='<%= @user_name %>'><a href='/logout'>Log Out <%= @user_name %></a></li>
	  <% else %>
	    <li><a href='https://github.com/login/oauth/authorize?redirect_uri=<%= @url %>/callback&scope=gist&client_id=<%= @client_id %>' class=''>Log in with GitHub</a></li>
	  <% end %>
	</ul>
      </nav>
    </header>
    <section>
      <% if @access_token != '' %>
	<h2>Your grade is:</h2>
        <div class='loading'>
	  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="grey">
	    <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
	    <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
	      <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
	    </path>
	  </svg>
	</div>
	<h1 data-grade></h1>
	<h2>You are missing:</h2>
        <div class='loading'>
	  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="grey">
	    <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
	    <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
	      <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
	    </path>
	  </svg>
	</div>
	<ul data-missing></ul>

      <% end %>
    </section>
  <script src='/js/httpster.js'></script>
  <script src='/js/app.js'></script>
  </body>
</html>
